/* contato */
.contato {
  background-color: var(--cor-12);
  padding-top: 40px;
  padding-bottom: 100px;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}
.contato h2::after {
  content: "";
  width: 75px;
  height: 35px;
  background-image: url("../img/dec-escuro-direita.svg");
  position: absolute;
  top: 0px;
  right: 0px;
}
.contato h2 {
  position: relative;
  text-align: start;
  margin-bottom: 40px;
  padding-left: 80px;
}
.contato h2::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 12px;
  background-color: var(--cor-p1);
  top: -16px;
  left: 80px;
}

.conteudo-contato {
  display: flex;
  place-content: space-between;
  gap: 20px;
  align-items: center;
  max-width: 1100px;
}
.conteudo-contato img {
  padding: 0px 0px 0px 80px;
}
.conteudo-contato p {
  max-width: 32ch;
}

.lista-contato li {
  line-height: 1.4;
  padding-bottom: 16px;
}
.lista-contato li span {
  display: block;
  width: 32px;
  height: 4px;
  background-color: var(--cor-11);
}
.lista-contato li:hover {
  color: var(--cor-2);
}

@media (max-width: 800px) {
  .conteudo-contato p {
    font-size: 1.125rem;
  }
  .contato h2 {
    font-size: 2rem;
    padding-left: 0px;
  }
  .contato h2::before {
    width: 60px;
    height: 8px;
    left: 0px;
  }
  .conteudo-contato img {
    display: none;
  }
}

@media (max-width: 800px) {
  .lista-contato {
    padding: 0px;
  }
  .contato h2::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .conteudo-contato {
    flex-direction: column;
    justify-content: flex-start;
  }

  .conteudo-contato p {
    max-width: none;
  }
  .lista-contato {
    display: flex;
    flex-wrap: wrap;
  }
  .lista-contato li {
    padding: 8px 16px;
  }
}
