/* experiência */

.experiencia {
  /* padding-right: 20px; */
  position: relative;
  margin-bottom: 60px;
}
.experiencia::before {
  content: "";
  width: 75px;
  height: 35px;
  background-image: url("../img/dec-claro-esquerda.svg");
  position: absolute;
  top: 0px;
  right: 0px;
}
.experiencia h2 {
  position: relative;
  text-align: start;
  margin-bottom: 40px;
}
.experiencia h2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 12px;
  background-color: var(--cor-p1);
  top: -16px;
  left: 0px;
}
.conteudo-experiencia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}
.item-experiencia {
  padding: 0px 00px 12px 24px;
}
.experiencia-empresa-ano {
  display: flex;
  place-content: space-between;
  position: relative;
}
.experiencia-empresa-ano::before {
  content: "";
  width: 16px;
  height: 8px;
  background-color: var(--cor-p1);
  position: absolute;
  top: 5px;
  left: -24px;
}
