/* SEÇÃO FOOTER CSS */

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--cor-12);
  position: relative;
  border-top: var(--cor-11) 1px solid;
  text-align: center;
}

@media (max-width: 800px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .footer span {
    font-size: 0.85rem;
  }
}
