/* formação */
.formacao {
  position: relative;
  margin-bottom: 60px;
  padding: 0 40px;
}
.formacao::before {
  content: "";
  width: 75px;
  height: 35px;
  background-image: url("../img/dec-claro-direita.svg");
  position: absolute;
  top: 0px;
  left: 40px;
}
.formacao h2 {
  position: relative;
  text-align: end;
  margin-bottom: 40px;
}
.formacao h2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 12px;
  background-color: var(--cor-p1);
  top: -16px;
  right: 0px;
}
.conteudo-formacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}

.item-formacao {
  padding: 0px 0px 12px 24px;
}
.formacao-instituicao-ano {
  display: flex;
  place-content: space-between;
  position: relative;
}
.formacao-instituicao-ano::before {
  content: "";
  width: 16px;
  height: 8px;
  background-color: var(--cor-p1);
  position: absolute;
  top: 5px;
  left: -24px;
}

@media (max-width: 800px) {
  .conteudo-formacao {
    grid-template-columns: 1fr;
  }
  .formacao h2 {
    font-size: 2rem;
  }
  .formacao h2::before {
    width: 80px;
    height: 8px;
  }
}

@media (max-width: 400px) {
  .formacao-instituicao-ano {
    font-size: 1.125rem;
  }
  .formacao-curso {
    font-size: 0.75rem;
  }
}
