/* HEADER CSS */

header {
  margin: 8px 0px;
  padding: 0px;
}
.menu-header {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: end;
  background-color: var(--cor-0);
}
.menu-header li {
  padding: 8px 16px;
  border-radius: 4px;
}
.menu-header li:hover {
  background-color: var(--cor-2);
  border-radius: 4px;
}

/*RESPONSIVO 960px*/
@media (max-width: 960px) {
  .menu-header {
    gap: 16px;
  }
}
/*RESPONSIVO 800px*/
@media (max-width: 800px) {
  header {
    margin: 12px 0px;
  }
  .menu-header {
    place-content: space-evenly;
  }
  .menu-header li {
    font-size: 90%;
    padding: 8px 12px;
    background-color: var(--cor-1);
  }
}

/*RESPONSIVO 420px*/
@media (max-width: 420px) {
  .menu-header {
    gap: 8px;
  }
  .menu-header li {
    font-size: 80%;
    padding: 4px 8px;
  }
}
