.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-bottom: 80px;
  position: relative;
}
.intro-img {
  display: flex;
  align-items: center;
  background-color: var(--cor-p1);
}
.intro-img img {
  width: 660px;
  height: 185px;
  object-fit: cover;
}
.intro-texto {
  padding-top: 140px;
  padding-right: 80px;
}
.intro-texto h1 {
  margin-bottom: 20px;
}
.intro::before {
  content: "";
  width: 75px;
  height: 35px;
  background-image: url("../img/dec-claro-esquerda.svg");
  position: absolute;
  top: 40px;
  right: 80px;
}
@media (max-width: 1000px) {
  .intro {
    gap: 40px;
  }
  .intro-texto {
    padding-top: 80px;
    padding-right: 40px;
  }
  .intro::before {
    right: 40px;
  }
  .intro-texto h1 {
    font-size: 1.75rem;
    line-height: 1.2;
  }
  .intro-texto span {
    font-size: 1.75rem;
    line-height: 1.2;
  }
  .intro-texto p {
    font-size: 1.5;
  }
}
@media (max-width: 800px) {
  .intro-texto {
    padding-top: 20px;
    padding-right: 20px;
  }
  .intro::before {
    display: none;
  }
  .intro-texto h1 {
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .intro-texto span {
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .intro-texto p {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .intro {
    grid-template-columns: 1fr;
  }
  .intro-img {
    display: none;
  }
  .intro-texto {
    padding-left: 40px;
    padding-right: 40px;
  }
  .intro-texto p {
    font-size: 1rem;
    line-height: 1;
  }
}

@media (max-width: 400px) {
  .intro-texto h1 {
    font-size: 1.25rem;
  }
  .intro-texto p {
    font-size: 0.875rem;
  }
}
