/* SEÇÃO PROJETOS EM ANDAMENTO CSS */

.projetos {
  background-color: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.projetos h2 {
  position: relative;
  text-align: end;
  margin-bottom: 40px;
  padding-right: 20px;
}
.projetos h2::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 12px;
  background-color: var(--cor-p1);
  top: -16px;
  right: 20px;
}
.projetos h2::after {
  content: "";
  width: 75px;
  height: 35px;
  background-image: url("../img/dec-escuro-esquerda.svg");
  position: absolute;
  top: 0px;
  left: 20px;
}
.lista-projetos {
  display: flex;
  gap: 16px;
  justify-content: center;
  place-content: space-evenly;
  overflow-x: auto;
}

/* RESPONSIVO TELAS GRANDES */
@media (max-width: 1000px) {
  .projetos h2 {
    font-size: 2.125rem;
  }
}
@media (max-width: 800px) {
  .projetos h2 {
    font-size: 2rem;
  }
  .projetos h2::before {
    width: 108px;
    height: 8px;
  }
}
