.menu-header {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  flex-direction: row;
  justify-content: end;
  padding: 20px 20px 20px 0;
}
.intro-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  background-color: var(--cor-1);
  margin-bottom: 80px;
}
.intro-img {
  display: flex;
  align-items: center;
  max-height: max-content;
  background-color: var(--cor-p1);
}
.intro-container img {
  /* object-fit: cover; */
  width: 100%;
}

.intro-texto {
  padding-top: 140px;
  padding-right: 80px;
}
.intro-texto h1 {
  margin-bottom: 20px;
}

/* formação */
.formacao {
  padding-right: 20px;
}
.conteudo-formacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 60px;
}
.item-formacao {
  padding: 0px 60px 12px 0;
}
.formacao h2 {
  position: relative;
  text-align: end;
  margin-bottom: 40px;
}
.formacao h2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 12px;
  background-color: var(--cor-p1);
  top: -16px;
  right: 0px;
}

.formacao-sep {
  width: 80%;
  height: 2px;
  background-color: var(--cor-2);
  margin-bottom: 12px;
}

.formacao-instituicao-ano {
  display: flex;
  place-content: space-between;
}
